body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f5f6fa;
}

nav {
    background: #172033;
    padding: 18px;
}

nav h2 {
    display: inline;
    color: white;
    margin-right: 40px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 15px;
}

.container {
    padding: 35px;
}

.box {
    width: 350px;
    margin: 120px auto;
    padding: 30px;
    background: white;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 5px 20px #0002;
}

input {
    padding: 10px;
    margin: 7px;
    border: 1px solid #ddd;
    border-radius: 6px;
}

button {
    padding: 10px 18px;
    border: none;
    border-radius: 6px;
    background: #2563eb;
    color: white;
    cursor: pointer;
}

.cards {
    display: flex;
    gap: 20px;
}

.card {
    background: white;
    padding: 25px;
    width: 200px;
    border-radius: 10px;
}

table {
    width: 100%;
    background: white;
    border-collapse: collapse;
}

th,
td {
    padding: 14px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

th {
    background: #172033;
    color: white;
}